@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    background-color: #012F4A;
    margin: 0;
    padding: 0;
    width: 100%;
}